*{
  box-sizing: border-box;
}
.calculator{
  background-color: #001021;
  border-radius: 4px;
  border: 1px solid black;
  width:200px;
 
}

.display{
  margin:10px;
  width:175px;
  font-size: 25px;
  color:#001021;
}

.display::placeholder{
  font-size: 15px;
}


.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.button{
  width:40px;
  height: 40px;
  margin:5px;
  background-color: rgb(43, 183, 226);
  color: #001021;
  font-weight: 700;
  border:none;
  cursor: pointer;
}

